.title {
  text-align: center;
  margin-bottom: 20px;
}

.instruction {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #666;
}

.error {
  color: red;
  margin-top: 10px;
}

.successContainer {
  text-align: center;
}

.successMessage {
  color: #28a745;
  margin-bottom: 1.5rem;
}

.linkButton {
  text-decoration: none;
  color: inherit;
}

.links {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerLink {
  color: #4A6CF7;
  text-decoration: none;
}